language: elixir
sudo: false
elixir:
  - 1.2.0
  - 1.2.1
  - 1.2.2
  - 1.2.3
otp_release:
  - 18.0
  - 18.1
  - 18.2
after_success:
  - "mix compile && mix coveralls.travis"
after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
